.nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-bottom-color: #f8f9fa;
    border-bottom-width: medium;
}

.nav-tabs .nav-link {
    color: gray;
}

#lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
    opacity: 1;
    background-color: #fff;
    display: none;
}
.wkj-logo {
    height: 40px;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    margin-right: 10px;
}

.navbar-container {
    margin-bottom: 20px;
}

.add-select {
    margin-left: 3px;
}

.add-select:hover {
    cursor: pointer;
}

.form-select:focus, input:focus, textarea:focus{
    box-shadow: none !important;
    border-color: black !important;
}

table {
    font-size: 13px;
}

th {
    font-size: 12px;
}

#can_container div.row, #aux_container div.row, #analog_container div.row {
    margin-top: 15px;
}

#can_container button, #aux_container button, #analog_container button {
    width: 100%;
}

/* #can_container select, #aux_container select, #analog_container select {
    margin-top: 5px;
}

#can_container button, #aux_container button, #analog_container button {
    margin-top: 5px;
} */